
        <h1>this is the home template</h1>

        <h2>hi {{cohort}}</h2>
        <ul>
            {{#teachers}}
            <li>{{name}}</li>
            {{/teachers}}
        </ul>

        {{>button}}
        //it says button because this is the name of the partial file (button.handlebars)
        //dont forget the little > sign that means its a partial
