* {
    box-sizing: border-box;
    user-select: none;
    font-family: "Metal Mania", cursive;
}

#text {
    font-size: 30px;
    text-align: center;
    margin-bottom: 15px;
}

img {
    height: 500px;
    width: 700px;
    object-fit: cover;
}

/* #out {
    width: 100vw;
    display: flex;
    justify-content: center;
} */

#container {
    position: relative;
    height: 500px;
    width: 700px;
    border: 2px solid black;
    overflow: hidden;
}

#bottom-image {
    position: absolute;
}

#top-image {
    position: absolute;
    overflow: hidden;
    /* visibility: hidden; */
}

#slider {
    position: absolute;
    height: 500px;
    width: 15px;
    left: 98%;
    background-color: red;
}
